.jumbotron {
    background-image: url("../Bellybutton-Biodiversity/static/images/background.jpeg");
    background-size: 100% 100%;
    text-align: center;
}
.topnav {
    background-color: navy;
    overflow: hidden;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a {
    color: white;
    text-align: center;
    font-size: medium;
    padding: 14px 16px;
}
